<ul id="posts">
  <% articles.select {|a| a[:date] <= Date.today}[0...10].each do |article| %>
  <li class="post">
    <div class="meta">
      <span class="author"><%= article.author %></span> -
      <time class="date"><%= article.date %></time>
    </div>
    <h2><a href="<%= article.path %>"><%= article.title %></a></h2>
  </li>
  <% end %>
</ul>
