@charset "UTF-8";
/* _reset
-----------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0 none;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline-color: invert;
  outline-style: none;
  outline-width: 0;
  padding: 0;
  vertical-align: baseline; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

* {
  margin: 0;
  padding: 0; }

/* _general
-----------------------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  font: normal Georgia, ​Times, ​serif;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 32px;
  line-height: 3.2rem;
  color: #333; }

h1 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 49px;
  line-height: 4.9rem; }

h2 {
  font-size: 33px;
  font-size: 3.3rem;
  line-height: 46px;
  line-height: 4.6rem; }

h3 {
  font-size: 30px;
  font-size: 3.0rem;
  line-height: 43px;
  line-height: 4.3rem; }

h4 {
  font-size: 27px;
  font-size: 2.7rem;
  line-height: 40px;
  line-height: 4.0rem; }

a {
  color: #477B96;
  font-style: italic; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px; }

article {
  border-bottom: 1px solid #DDDDDD;
  margin-top: 2.5em;
  float: left;
  width: 100%; }
  article header {
    width: 15%;
    float: left; }
    article header .author {
      color: #555;
      font-size: 20px;
      font-style: italic; }
    article header time {
      color: #999; }
  article .post-content {
    margin: 0 auto 2em;
    width: 80%;
    float: right; }
    article .post-content p, article .post-content h2 {
      margin: 1rem auto;
      width: 100%; }
    article .post-content h2 {
      text-align: left;
      margin-top: 0;
      margin-bottom: 10px;
      margin-bottom: 1rem; }
      article .post-content h2 a {
        text-decoration: none;
        color: #000; }
        article .post-content h2 a:hover {
          text-decoration: underline; }

#comments .comment {
  border-bottom: 1px solid #DDDDDD;
  margin: 0.7em 0;
  padding: 10px 0; }
  #comments .comment p {
    margin: 0.4em auto; }
    #comments .comment p .author {
      font-weight: bold; }
    #comments .comment p .date {
      color: #aaa; }

footer {
  clear: both;
  text-align: center;
  margin-top: 3em;
  float: left;
  width: 100%; }
