@import 'reset';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-style: normal;
  line-height: 1.624;
  color: #444;
  background: #F7F7F7;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}

h1{
  font-size: 97.423px;
}
h2{
  font-size: 61.805px;
}
h3{
  font-size: 60.212px;
}
h4{
  font-size: 38.198px;
}
h5{
  font-size: 37.214px;
}


p {
  font-weight: 400;
  color: rgb(40, 40, 40);
}

a {
  color: #477B96;
  text-decoration: none
}

pre{
  margin: 23.608px 0;
  white-space: pre-wrap;
}

code{
  font-family: monospace;
  padding: 3.445px;
}

header{
  padding-bottom: 23.608px;
}

body>header{
  padding-bottom: 60.212px;
  overflow: hidden;
  h1{
    font-size: 22.608px;
    margin: 5.430px 14.591px;
    a{
      color: #ED245D;
      text-decoration: none;
      font-size: 22.608px;
    }
  }
}

#content{
  max-width: 800px;
  margin: 0 auto;
  .author{
    color: #555;
    font-weight: 600;
  }
  time{
    color: #999;
  }
  ul#posts{
    list-style-type: none;
    li{
      overflow: hidden;
      padding: 37.214px 0;
      border-bottom: 1px solid #DDD
    }

    h2 {
      font-size: 60.212px;
      line-height: 1;
      text-align: left;
      //margin: 13.929px 1.004px;
      //margin-top: 0;
      float: left;
      a {
        color: #000;
      }
    }
  }
}

article{
  h2{
    line-height: 1.316
  }
  ul{
    list-style-position: inside;
    margin: 14.215px
  }
  p{
    margin: 23.608px 0;
  }
}

.comments{
  margin-top: 37.214px;
  .comment {
    border-bottom: 1px solid #DDDDDD;
    margin: 0.634em 0;
    padding: 9.014 0;
    p {
      margin: 0.392em auto;
      .author {
        font-weight: bold;
      }
      .date {
        color: #aaa;
      }
    }
  }
}

footer {
  clear: both;
  text-align: center;
  margin-top: 60.212px;
  width: 100%;
  font-style: italic;
  font-size: 14.591px;
}
